*{margin:0; padding:0; box-sizing:border-box;}
body{font-family:Poppins, sans-serif; background:#f4f4f4;}

nav{
    padding:20px;
    background:black;
    color:white;
    font-size:20px;
}

.hero{
    height:300px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    background:#222;
    color:white;
}

.hero span{color:#ff9800;}

section{
    margin:25px;
}

.box{
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    opacity:0;
    transform:translateY(40px);
    animation:fadeUp 1s forwards;
}

@keyframes fadeUp{
    to{
        opacity:1;
        transform:translateY(0);
    }
}

.fade{
    animation:fadeText 1.2s ease-out;
}
@keyframes fadeText{
    from{opacity:0;}
    to{opacity:1;}
}

.slide{
    animation:slideUp 1.3s ease-out;
}
@keyframes slideUp{
    from{opacity:0; transform:translateY(20px);}
    to{opacity:1; transform:translateY(0);}
}

footer{
    text-align:center;
    padding:20px;
    background:black;
    color:white;
    margin-top:50px;
}
